<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ddw.dao.CoborrowerMapper">
  <resultMap id="BaseResultMap" type="com.ddw.pojo.Coborrower">
    <id column="cbid" jdbcType="CHAR" property="cbid" />
    <result column="cbname" jdbcType="VARCHAR" property="cbname" />
    <result column="tel" jdbcType="INTEGER" property="tel" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="uid" jdbcType="CHAR" property="uid" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    cbid, cbname, tel, address, uid
  </sql>
  <select id="selectByExample" parameterType="com.ddw.pojo.CoborrowerExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from coborrower
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from coborrower
    where cbid = #{cbid,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from coborrower
    where cbid = #{cbid,jdbcType=CHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.ddw.pojo.CoborrowerExample">
    delete from coborrower
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ddw.pojo.Coborrower">
    insert into coborrower (cbid, cbname, tel, 
      address, uid)
    values (#{cbid,jdbcType=CHAR}, #{cbname,jdbcType=VARCHAR}, #{tel,jdbcType=INTEGER}, 
      #{address,jdbcType=VARCHAR}, #{uid,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ddw.pojo.Coborrower">
    insert into coborrower
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="cbid != null">
        cbid,
      </if>
      <if test="cbname != null">
        cbname,
      </if>
      <if test="tel != null">
        tel,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="uid != null">
        uid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="cbid != null">
        #{cbid,jdbcType=CHAR},
      </if>
      <if test="cbname != null">
        #{cbname,jdbcType=VARCHAR},
      </if>
      <if test="tel != null">
        #{tel,jdbcType=INTEGER},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ddw.pojo.CoborrowerExample" resultType="java.lang.Long">
    select count(*) from coborrower
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update coborrower
    <set>
      <if test="record.cbid != null">
        cbid = #{record.cbid,jdbcType=CHAR},
      </if>
      <if test="record.cbname != null">
        cbname = #{record.cbname,jdbcType=VARCHAR},
      </if>
      <if test="record.tel != null">
        tel = #{record.tel,jdbcType=INTEGER},
      </if>
      <if test="record.address != null">
        address = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.uid != null">
        uid = #{record.uid,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update coborrower
    set cbid = #{record.cbid,jdbcType=CHAR},
      cbname = #{record.cbname,jdbcType=VARCHAR},
      tel = #{record.tel,jdbcType=INTEGER},
      address = #{record.address,jdbcType=VARCHAR},
      uid = #{record.uid,jdbcType=CHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ddw.pojo.Coborrower">
    update coborrower
    <set>
      <if test="cbname != null">
        cbname = #{cbname,jdbcType=VARCHAR},
      </if>
      <if test="tel != null">
        tel = #{tel,jdbcType=INTEGER},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="uid != null">
        uid = #{uid,jdbcType=CHAR},
      </if>
    </set>
    where cbid = #{cbid,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ddw.pojo.Coborrower">
    update coborrower
    set cbname = #{cbname,jdbcType=VARCHAR},
      tel = #{tel,jdbcType=INTEGER},
      address = #{address,jdbcType=VARCHAR},
      uid = #{uid,jdbcType=CHAR}
    where cbid = #{cbid,jdbcType=CHAR}
  </update>
</mapper>