<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ddw.dao.PaybackMapper">
  <resultMap id="BaseResultMap" type="com.ddw.pojo.Payback">
    <id column="pid" jdbcType="INTEGER" property="pid" />
    <result column="pbamount" jdbcType="VARCHAR" property="pbamount" />
    <result column="pbdatetime" jdbcType="TIMESTAMP" property="pbdatetime" />
    <result column="uid" jdbcType="CHAR" property="uid" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    pid, pbamount, pbdatetime, uid
  </sql>
  <select id="selectByExample" parameterType="com.ddw.pojo.PaybackExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from payback
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from payback
    where pid = #{pid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from payback
    where pid = #{pid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.ddw.pojo.PaybackExample">
    delete from payback
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ddw.pojo.Payback">
    insert into payback (pid, pbamount, pbdatetime, 
      uid)
    values (#{pid,jdbcType=INTEGER}, #{pbamount,jdbcType=VARCHAR}, #{pbdatetime,jdbcType=TIMESTAMP}, 
      #{uid,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ddw.pojo.Payback">
    insert into payback
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="pid != null">
        pid,
      </if>
      <if test="pbamount != null">
        pbamount,
      </if>
      <if test="pbdatetime != null">
        pbdatetime,
      </if>
      <if test="uid != null">
        uid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="pid != null">
        #{pid,jdbcType=INTEGER},
      </if>
      <if test="pbamount != null">
        #{pbamount,jdbcType=VARCHAR},
      </if>
      <if test="pbdatetime != null">
        #{pbdatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ddw.pojo.PaybackExample" resultType="java.lang.Long">
    select count(*) from payback
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update payback
    <set>
      <if test="record.pid != null">
        pid = #{record.pid,jdbcType=INTEGER},
      </if>
      <if test="record.pbamount != null">
        pbamount = #{record.pbamount,jdbcType=VARCHAR},
      </if>
      <if test="record.pbdatetime != null">
        pbdatetime = #{record.pbdatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.uid != null">
        uid = #{record.uid,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update payback
    set pid = #{record.pid,jdbcType=INTEGER},
      pbamount = #{record.pbamount,jdbcType=VARCHAR},
      pbdatetime = #{record.pbdatetime,jdbcType=TIMESTAMP},
      uid = #{record.uid,jdbcType=CHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ddw.pojo.Payback">
    update payback
    <set>
      <if test="pbamount != null">
        pbamount = #{pbamount,jdbcType=VARCHAR},
      </if>
      <if test="pbdatetime != null">
        pbdatetime = #{pbdatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="uid != null">
        uid = #{uid,jdbcType=CHAR},
      </if>
    </set>
    where pid = #{pid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ddw.pojo.Payback">
    update payback
    set pbamount = #{pbamount,jdbcType=VARCHAR},
      pbdatetime = #{pbdatetime,jdbcType=TIMESTAMP},
      uid = #{uid,jdbcType=CHAR}
    where pid = #{pid,jdbcType=INTEGER}
  </update>
</mapper>