*{
	margin: 0px auto;
	padding: 0px;
}
ul,li,a{
	list-style: none;
}
.one{
	width: 100%;
	box-sizing: border-box;
	height:80px;
	border: solid red 1px;
	background-color: #4A66A5;
}
.two{
	width:15%;
	box-sizing: border-box;
	height:545px;
	float: left;
	border: solid red 1px;
}
.three{
	width: 85%;
	box-sizing: border-box;
	height:545px;
	float: left;
	border: solid red 1px;
	
}
.one-one{
	color: white;
	font-size: 2.5em;
	float: left;
	margin-top: 0.3em;
	margin-left: 0.5em;
	border: solid red 1px;
}
.one-two{
	color: white;
	font-size:1.5em;
	float: left;
	margin-top: 0.5em;
	margin-left: 0.3em;
	display: inline-block;
	border: solid red 1px;
}
.one-three{
	color: white;
	font-size:0.5em;
	position: relative;
	border: solid red 1px;
	
}
.one-four{
	color: white;
	font-size:2em;
	margin-left:13% ;
	margin-top: 0.5em;
	display: inline-block;
	border: solid red 1px;
}
.user,.user-top,.pass{
	border: solid red 1px;
	display: inline-block;
	
}
.user{
	float: right;
	margin-right: 5em;
}
.pass{
	float: right;
	margin-right: 5em;
}
.user-top{
	float: right;
	margin-right: 5em;
}
.two-one{
	width: 100%;
	height:8em;
	border: 1px solid red;
	background-color: #29A1B1;
}
.two-one p{
	color: white;
	font-size: 1.5em;
	
}
.two-one div{
	margin-top:2em;
}
.two-two{
	background-color: #4A66A5;
}
.two-two ul{
	width: 100%;
	height:427px;
	border: #0000FF solid 1px;
}
.two-two li{
	height:3em;
	width: 100%;
	border: #00FF00 solid 1px;
	color: white;
	line-height: 3em;
	text-align: justify;
}
.two-two li:hover{
	background-color:#314E90;
}
